<configuration>
	<system.webServer>
		<handlers>
			<add name="TransformXml" verb="GET" path="*" type="FamilyTree.TransformHandler,AspNet" />
		</handlers>
        <defaultDocument>
            <files>
                <remove value="iisstart.htm" />
                <remove value="Default.asp" />
                <remove value="index.htm" />
                <remove value="index.html" />
                <remove value="default.aspx" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
	</system.webServer>
</configuration>