div#editMember
{
	display: none;
	border: 2px solid #000000;
	border-radius: 3px;
	background: #ffff88;
	padding: 3px;
	position: absolute;
	width: 400px;
	height: 300px;
}

div#editMember fieldset label
{
    display: block;
}