div.pop-up-container{
 position: absolute;
 top: 0px;
 bottom: 0px;
 left: 0px;
}

div.pop-up-background{
 position: absolute;
 top: 0px;
 bottom: 0px;
 left: 0px;
 right: 0px;
 background: #000000;
 opacity: 0.5;
}

div.pop-up{
 position: fixed;
 left: 130%;
 top: 10%;
 width: 300px;
 margin-left: -165px;
 margin-top: -120px;
 border: 3px solid #000000;
 background: #ffff88;
 border-radius: 8px;
}

div.pop-up h2{
 margin: 0px;
 padding: 2px 5px;
 background: #cccc66;
 border-radius: 6px;
 border-bottom-left-radius: 0px;
 border-bottom-right-radius: 0px;
}

div.scrolling-content{
 padding: 3px;
 margin: 5px;
}

div.scrolling-content img{
 float:left;
 max-width: 100px;
 margin-left: -3px;
 margin-right: 3px;
 margin-bottom: 3px;
}

div.buttons{
 clear: both;
 border-top: 2px solid #cccc66;
 padding-top: 2px;
 text-align: center;
 margin: 5px;
 margin-top: 0px;
}

div.buttons input{
 margin-right: 3px;
}